{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-trailing-spaces": ["error"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "brace-style": ["error", "stroustrup"],
    "comma-spacing": ["error"],
    "array-bracket-spacing": ["error"],
    "keyword-spacing": ["error"],
    "key-spacing": ["error"],
    "eol-last": ["error"],
    "quotes": [2, "single", "avoid-escape"],
    "indent": ["error", 2],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}